
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed; /* 화면 아래에 고정 */
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 30;
}

main{margin-bottom: 100px;}
#div-exciting{
    display: none;
}
body {
    padding: 0 15px 60px;
    max-width: 600px;
    margin: 0 auto;
}	
  .user-name {
    font-weight: bold;
    cursor: pointer;
  }

.top-bar {
    background-color: white;
    padding: var(--bs-gutter-x, .75rem) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.remaining-time-box {
    background-color: #0d6efd; /* 파란색 배경 */
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
/* 		margin: 20px; */
    margin:var(--bs-gutter-x, .75rem) 0;
}

.remaining-time-box label {
    display: block; /* label을 블록 요소로 만들어 전체 너비 차지 및 아래 요소 줄바꿈 */
    font-weight: bold; /* label 텍스트 강조 (선택 사항) */
    margin-bottom: 5px; /* label과 시간 사이 간격 (선택 사항) */
}

.timelabel {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.8em;
}

.time {
    font-size: 1.5em;
    font-weight: bolder;
}

.question-info {
    margin-bottom: 10px;
    font-weight: bold;
}


.puzzle-place img{
    width: 90%;
    max-width: 460px;
}

.answer-input-group {
    display: flex;
}

.answer-input {
    flex-grow: 1;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
}

.submit-button {
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 10px;
}

.question-box {
    border: 2px solid #0d6efd; /* 파란색 테두리 */
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    min-height: 150px; /* 최소 높이 설정 */
}

.hint-area {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 1px solid #dee2e6;
    padding: var(--bs-gutter-x, .75rem) 15px;
    flex-direction: column; /* 주축을 세로로 변경 */
    align-items: flex-start; /* 가로 방향 왼쪽 정렬 */
    color: #333; /* 힌트 영역 기본 글자색 설정 */
}

.hint-control {
    color: #333; /* 힌트 보기 글자색 설정 */
    margin-bottom: 10px; /* 힌트 보기와 힌트 단계 사이 간격 */
    font-weight: bold; /* 글꼴 굵게 설정 */
    text-align: left; /* 왼쪽 정렬 */
}

.hint-levels {
    display: flex; /* 힌트 단계를 가로로 정렬 */
    gap: 10px; /* 버튼 사이 간격 */
    width: 100%; /* 부모 너비에 맞춰 가로로 확장 */
    align-items: flex-start; /* 내부 아이템 상단 정렬 */
}

.hint-level-button {
    font-size: 0.8rem; /* 버튼 텍스트 크기 조정 */
    padding: 0.25rem 0.5rem; /* 버튼 패딩 조정 */
    border-radius: 5px; /* 버튼 모서리 둥글게 */
}

.hint-level-button.active {
    background-color: #0d6efd; /* 활성 버튼 색상 */
    color: white;
    border-color: #0d6efd;
}
#image-container {
    text-align: center;
}
#random-image {
    max-width: 460px;
    width: 90%;
    height: auto;
}